{% extends 'base.html' %}

{% block Title %}
tracker
{% endblock Title %}
{% block homeblock %}
<a class="nav-link" href="/home?username=={{username}}">Home <span class="sr-only">(current)</span></a>
{% endblock homeblock %}

{% block aboutblock %}
<a class="nav-link" href="/about?username=={{username}}">About us</a>
{% endblock aboutblock %}

{% block contactblock %}
<a class="nav-link" href="/contact?username=={{username}}">Contact us</a>

{% endblock contactblock %}




{% block cartlink %}
<a class="dropdown-item" href="/Cart?username=={{username}}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My
  Cart({{count}})</a>

{% endblock cartlink %}

{% block serviceblock %}
<a class="dropdown-item" href="/services?username=={{username}}">Icecream</a>

{% endblock serviceblock %}
{% block header %}
<form class="form-inline my-2 my-lg-0">
  <div style="margin-left:550px;">
    <a href="#" class="fa fa-facebook px-2"></a>
    <a href="#" class="fa fa-twitter px-2"></a>

    <a href="#" class="fa fa-linkedin px-2"></a>
    <a href="#" class="fa fa-youtube px-2"></a>
    <a href="#" class="fa fa-instagram px-2"></a>
  </div>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class='fas fa-user px-4' style='font-size:24px'></i>
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/Profile?username={{username}}">Profile</a>
      <a class="dropdown-item" href="/logout?username={{username}}">Logout</a>
      <a class="dropdown-item" href="/orders?username={{username}}">My order</a>
      <a class="dropdown-item" href="/Cart?username={{username}}">MYCart ({{count}})</a>


      <a class="dropdown-item" href="/tracking?username={{username}}">Track Order</a>


    </div>
  </li>




</form>
{% endblock header %}

{% block body %}

<div class="container" style="padding-top:100px;">
  <div class="col my-4">
    <h2>My Tracker - Enter your order Id and Mobile Number to track your order</h2>

    <form method="post" action="/tracking?username={{username}}" id="trackerform">
      {% csrf_token %}

      <div class="form-group">
        <label for="item">order_id</label>
        <input type="text" class="form-control" id="order_id" name="order_id">
      </div>
      <div class="form-group">
        <label for="name">Mobile no.</label>
        <input type="text" class="form-control" id="mobile_no" name="mobile_no"
          placeholder="Enter Your Register Mobile No.">
      </div>


      <button class="btn btn-success" type="submit">Track</button>



    </form>

  </div>

  <div class="col my-4">
    <h2>Your order Status</h2>

    <div class="container">
      <div class="row">
        <div class="col-sm">

          <ul class="list-group" id="items">


            <div class="col-sm">


              <div class="progress">Start
                <div class="progress-bar" role="progressbar" style="width: {{per}}%;" aria-valuenow="per"
                  aria-valuemin="0" aria-valuemax="100">{{per}}%</div>End
              </div>
            </div>




        </div>
      </div>
    </div>






    </ul>
  </div>
</div>

<script>

  $('#trackerform').submit(function (event) {
    $('#items').empty();
    var formdata = {
      'order_id': $(['input[name=order_id']).val(),
      'mobile_no': $(['input[name=mobile_no']).val(),
      'csrfmiddlewaretoken': $(['input[name=csrfmiddlewaretoken']).val()


    };
    $.ajax({
      type: 'POST',
      url: '/trackering',
      data: formdata,
      encode: true



    });


    done(function (data) {
      console.log(data)
    });
    event.prevent.Default();






  })

</script>
{% endblock body %}
{% block footer %}
<p><a href="/?username={{username}}">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;

  <a href="/services?username={{username}}">Services</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;

  <a href="/about?username={{username}}">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;

  <a href="/contact?username={{username}}">Contact Us</a>&nbsp;&nbsp;|
</p>


{% endblock footer %}